@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
  }
  
  .carousel-item > img {
    width: 100%;
    height: auto;
  }
  
  .carousel-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    color: #fff;
  }
  

  /* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: red;
  color: white;
  border: none;
}
